body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #3a3a3a;
  margin: 0 4px 10px 8px;
  height: 40px;
  width: 50px;
  box-shadow: 0px 3px 0px 0px #222121,
    inset -1px -3px 10px 1px #515151;
  color: white;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}

.equall{
  height: 90px;
  position: absolute;
  right: 16px;
  bottom: -50px;
}

.point{
  position: relative;
  bottom: -50px;
  right: 62px;
}

.zero{
  position: absolute;
  width: 110px;
  bottom: -50px;
  left: 16px;
}

.corpus {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 0 10px;
  width: 280px;
  height: 380px;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68),
    inset -1px -6px 12px 0.1px #89847e;
}

.answear{
  word-wrap: break-word;
}

.monitor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  padding-top: 30px;
  width: 85%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
}

.command {
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
  color: white;
}

.buttons{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}